body{
 
    background-color: darkkhaki;
 }

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
center{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}